<div class="container">
    <div class="row">
        <div class="col-7 mx-auto shadow">
           <div class="row">
            <div class='col-5 bg-info p-5'>
                <h3>Contact-App</h3>
                <p>Welcome to Our Contact app. Our contact app Provides you with the opportunity to add your contact and specify your Relationship with them</p>
            </div>
           
            <div class="col-7 p-5 ">
                <form (ngSubmit)="signIn()">
                    <input type="text" class="form-control mb-2" placeholder="Email" [(ngModel)]="email" name="email">
                    <input type="password" class="form-control mb-2" placeholder="Password" [(ngModel)]="password" name="password">
                    <button class="btn btn-outline-success mb-2">SignIn</button>
                    <p>You don't have an account <b routerLink="/signup">Signup</b>here</p>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
