<h2>CONTACT DETAILS</h2>
<p type="text" placeholder="">{{contactDetails.full_name}}</p>
<p type="text" placeholder="">{{contactDetails.email}}</p>
<p type="text" placeholder="">{{contactDetails.phone_number}}</p>
<p type="text" placeholder="">{{contactDetails.address}}</p>
<p type="text" placeholder="">{{contactDetails.relationship}}</p>
 <!-- class="text-dark">{{contactDetails.relationship}}</P> -->
<!-- <P>{{contactDetails.email}}</P>
<P>{{contactDetails.phone_number}}</P>
<P>{{contactDetails.address}}</P>
<P> {{contactDetails.relationship}}</P> -->

